
.aboutBody {
//    background-color: #DEB887;
   margin-left: 200px ;
   margin-right: 200px;
   border-radius: 30px;
//    box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.5); 
}


.title {
    font-size: 3em;
    font-family: 'Noto Serif', serif;
    color: rgb(247, 190, 86);
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
    animation: fadein 3.5s 1;
    animation-fill-mode: forwards;
}
.firstHr {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border: 3px solid rgb(26, 26, 26);
    animation: fadein 3.5s 1;
    animation-fill-mode: forwards;
}

.aboutDesc {
    display: flex;
}

.aboutImg {
    border-radius: 50%;
    border: 30px solid gray;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.9;
    width: 40%;
    height: 40%;
    z-index: 1;
}


.aboutText {
    font-family: 'Gambetta', serif;
    display: inline;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 30px;
    line-height: 150%;
    letter-spacing: .5px;
    color: black;
    transition: 700ms ease;
    -webkit-text-stroke: 0.1px red;
    font-size: 20px;
    font-variation-settings: 'wght' 800;
    border: 5px dotted gray;
    padding: 30px;
}

.fadeIn {
animation: fadein 2.5s 1;
}


@keyframes fadein{
    from {
       opacity: 0;
    }
    to {
       opacity: 0.9;
    }
   }

   .lastSentence {
    margin-right: 5%;
    margin-left: 20%;
    width: 50%;
    margin-bottom: 0px;
    font-family: 'Tinos', serif;
    font-size: 2.5em;
    margin-top: 20px;
    color: red;
    -webkit-text-stroke: 1px black;
  }


  @media screen and (max-width: 600px) {
    .aboutBody {
        margin-left: 5px ;
        margin-right: 0px;
        border-radius: 30px;
    }
    .title {
        font-size: 2em;
    }
    .aboutText {
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 15px;
    }
    .aboutImg {
        width: 0;
        height: 0;
        border: 0;
    } 
  }