@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@600;700&family=Noto+Serif:ital,wght@1,500&family=Tinos:ital@1&display=swap');

.gallery {
    position: absolute;
    gap: 900px;
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    display: flex;
    top: 780px;
    right: 250px;
    border-radius: 50%;
    z-index: 200;
    left: 10px;
  }
  .gallery > img {
    width: 200px;
    margin-top: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 30%;
    cursor: pointer;
    z-index: 0;
  }

  .imgTital1 {
    position: absolute;
    top: 25%;
    width: 80%;
    left: 20px;
    color: red;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
    font-family: "Tangerine", cursive;
    font-size: 35px;
    font-family: "Marck Script", cursive;
    opacity: 0;
  }
  .imgTital2 {
    position: absolute;
    top: 75%;
    width: 80%;
    left: 20px;
    color: red;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
    font-family: "Tangerine", cursive;
    font-size: 35px;
    font-family: "Marck Script", cursive;
    opacity: 0;
  }
  .gallery:hover {
    .imgTital1 {
      animation: fadein 0.5s 1;
      animation-fill-mode: forwards;
    }
    .imgTital2 {
      animation: fadein 0.5s 1;
      animation-fill-mode: forwards;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }

//   .gallery img:hover {
//     --_i: 1;
//     z-index: 1;
//     transition: transform .2s, clip-path .3s .2s, z-index 0s;
//   }
//   .gallery:hover img {
//     transform: translate(0,0);
//   }
//   .gallery > img:nth-child(1) {
//     content: "Old ways";
//     clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
//     --_x: var(--g)
//   }
//   .gallery > img:nth-child(2) {
//     clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
//     --_x: calc(-1*var(--g))
//   }

  @import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

  @import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

  

  

.title {
    font-size: 3em;
    font-family: 'Noto Serif', serif;
    color: rgb(253, 207, 120);
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
}

// .firstHr {
//     width: 80%;
//     margin-left: 10%;
//     margin-bottom: 30px;
//     border: 3px solid rgb(26, 26, 26);
//     animation: fadein 3.5s 1;
//     animation-fill-mode: forwards;
//     opacity: 1;
// }

// .wrap{
//     display: flex;
//     margin-bottom: 0px;
//     margin-top: 100px;
//     margin-left: 10%;
//     // width: 90%;
//     // margin-left: 10%;
//     // padding: 2%;
// }
// .box {    
//     display: inline;
//     padding: 4%;
//     margin-right: 5%;
//     border-radius: 30%;
//     align-items: center;
//     font-family: 'Noto Serif', serif;
//     border: 2px dotted black;
//     margin-top: 50px;
//     margin-bottom: 300px;
//     margin-left: 40px;
//     margin-right: 90px;
// }
// .firstParaTitle {
//     font-size: 2em;
// }
// .firstPara {
//     font-size: 1.3em;
// }
// .oldBath {
//     margin-top: 25%;
//     border-radius: 50%;
//     width: 30%;
//     height: 30%;
// }