.slider {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
}


.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

@keyframes appear{
    0% {
        visibility: visible;
        top: 23rem;
    }
    100% {
        visibility: visible;
        top: 14rem;
    }
}

.thumbnail {
    position: relative;
    display: inline-block;
    top: 80%;
    left: 30%;
    padding: 5px;
    cursor: pointer;
}

img {
    width: 90%;
}

h2 {
    font-size: 3em;
}

.clicked  {
    height: 120px;
    // width: 80%;
    border: 2px solid black;
}

.thumbnail::after{
    position:absolute;
    top:100%;
    left:0%;
    width:0;
    height:2px;
    background:salmon;
    display:block;
    content:'';
    transition: width 0.5s ease-in-out;
    height: 5px;
}

.thumbnail:hover::after {
    width:100%;
}

.clicked {
    animation: wide-up ease-in  .5s;
    animation-fill-mode: forwards;
}

.thumbnail .notclicked {
    animation: wide-down ease-out  .5s;
    animation-fill-mode: forwards;
}

@keyframes wide-up {
    0% {
        width: 90%;
        height: 120px;
    }
    100% {
        width:100%;
        height: 130px;
    }
}

@keyframes wide-down {
    0% {
        width:100%;
        height: 130px;
    }
    100% {
        width: 90%;
        height: 120px;
    }
}


@media screen and (min-width:600px){
    .slide img {
        width: 100%;
        height: 100%;
    }
}

.slide img {
    height: 100%;
}

.content {
    position: absolute;
    top: 23rem;
    opacity: 1;
    left: 5rem;
    width: 50%;
    padding: 3rem;
    background: rgba(0,0,0,.3);
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 23rem;
    }
    100% {
        visibility: visible;
        top: 14rem;
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 50%;
    }
}

.content > * {
    color: white;
    margin-bottom: 1rem;
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.current .content {
    opacity: 1;
}

// .arrow {
//     border: 2px solid whitesmoke;
//     border-radius: 50%;
//     background: transparent;
//     color: white;
//     width: 2rem;
//     height: 2rem;
//     cursor: pointer;
//     position: absolute;
//     z-index: 999;
//     top: 35%;
// }

// .arrow:hover {
//     background: white;
//     color: gray;
// }

// .right {
//     right: 1.5rem;
// }

// .left {
//     left: 1.5rem;
// }

hr {
    height: 2px;
    background: whitesmoke;
    width: 50%;
    margin-left: 0;
}