.footer {
  position: absolute;
    width:100%;
    background-color: black;
    text-align: center;
  }
  .footerHr {
    opacity: 1;
      width: 60%;
      margin-left: 23%;
      margin-bottom: 10px;
      border: 2px solid gray;
  }
  .navLink {
    margin-left: 40px;
    text-decoration: none;
    white-space: nowrap
  }
  .footerList li {
    opacity: 1;
    color: gray;
    width: 80%;
    padding-left: 50px;
    margin-top: 10px;
  }

  .footerList li:hover {
    color: white;
  }
  .footerList ul{
    display: flex;
    margin-left: 25%;
  }

  .footerText {
    font-size: 1.5em;
    color: grey;
  }


  @media screen and (max-width: 600px) {
    .footerList li {
      opacity: 1;
      color: gray;
      width: 80%;
      padding-left: 10px;
      margin-top: 30px;
    }
    .footerList ul{
      display: flex;
      flex-direction: column;
      margin-left: 5%;
    }
    .footerText {
      margin-top: 10%;
      font-size: 1em;
      color: grey;
    }
    .footerHr {
      width: 80%;
      margin-left: 10%;
      opacity: 1;
        border: 1px solid gray;
    }
  }